/* Baggrund til hele siden */
body {
    background-image: url("../img/baggrund-akvarie.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

/* variabler */
  :root {
  /* start/exit offset */
   --off-søhest: 200px; 
   --off-stribetfisk: 200px; 
   --off-blå-fisk: 200px; 
   --off-barbie-fisk: 200px; 
   --off-guldfisk: 200px; 
}


/* Krabben - bliver i den position du har valgt */
.krabbe {
  position: absolute;
  width: 190px;   /* størrelse på krabben */
  bottom: -15px;  /* hvor tæt på bunden */
  right: 410px;   /* hvor tæt på højre side */
  cursor: pointer;
  display: block;
}




.guldfisk {
  position: absolute;
  width: 190px;   
  top: 400px;        
  cursor: pointer;
  animation: guldfisk 18s linear infinite;
  left: 100vw;
   z-index: 1;
}

@keyframes guldfisk {
  0% {
    transform: translateX(0); /* Start udenfor højre side */
  }
  100% {
    transform: translateX(calc(-100vw - 120px)); /* Svøm hele vejen ud til venstre */
  }
}


 .barbie-fisk {
  position: absolute;
  right: 500px;
  top: 300px;
  width: 120px;
  cursor: pointer;
  animation: barbie-fisk 14s linear infinite;
  left: 100vw;
  z-index: 1;
}

@keyframes barbie-fisk {
  0% {
    transform: translateX(0); /* Start udenfor højre side */
  }
  100% {
    transform: translateX(calc(-100vw - 120px)); /* Svøm hele vejen ud til venstre */
  }
}


.blue-fisk {
  position: absolute;
  width: 120px;
  top: 150px;
 
  cursor: pointer;
  animation: blue-fisk 12s linear infinite;
  left: 100vw;
}

@keyframes blue-fisk {
  0% {
    transform: translateX(0); /* Start udenfor højre side */
  }
  100% {
    transform: translateX(calc(-100vw - 120px)); /* Svøm hele vejen ud til venstre */
  }
}



.sohest {
  position: absolute; 
  width: 70px; 
  bottom: 30%; 
  cursor: pointer;
  display: block;
  z-index: 1;

  right: calc(100vw + var(--off-søhest)); /* start ude til venstre*/
  animation: søhest 23s linear infinite;
}

@keyframes søhest {
  0% {
    transform: translateX(0) rotateY(180deg);
  }
  100% { transform: translateX(calc(100vw + var(--off-søhest))) rotateY(180deg); }
}


.stribetfisk {
  position: absolute;
  width: 140px;   
  top: 45px;      
  cursor: pointer;
  display: block;
  z-index: 1;

  left: calc(-1 * var(--off-stribetfisk)); /* start udenfor venstre */
  animation: stribetfisk 15s linear infinite;
}


@keyframes stribetfisk {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(calc(100vw + var(--off-stribetfisk) + 140px));
  }
}




/* Scene container */
.scene {
  position: relative;
  height: 100vh;
  overflow: hidden;
}



/* Container der holder krabbe og taleboble sammen */
.krabbe-wrap {
  position: absolute;
  bottom: -15px;
  right: 410px;
  width: fit-content; /* gør containeren kun så bred som krabben */
}


/* Taleboble ved krabbe */
.tooltip {
  position: absolute;
  bottom: 110px;
  left: 56%;
  transform: translateX(-50%);

  background: #cfefff; /* lys blå boble */
  color: #0b3d5c;

  padding: 16px 20px;
  border-radius: 30px; /* mere rund */

  font-family: 'fredoka', sans-serif;
  font-size: 20px; 
  font-weight: 600;

  text-align: center;
  max-width: 240px;

  border: 4px solid #8dd9ff;

  box-shadow: 0 6px 12px rgba(0,0,0,0.15);

  opacity: 0;
  transition: 0.25s;
}

.tooltip.is-visible {
  opacity: 1;
}

/* Når JavaScript viser den */
.tooltip.is-visible {
  opacity: 1;
}





#scene1 {
  position: relative;
}

#sohestTooltip {
  position: absolute;

  background: #cfefff;
  color: #0b3d5c;

  padding: 16px 20px;
  border-radius: 30px;

  font-family: 'fredoka', sans-serif;
  font-size: 20px;
  font-weight: 600;
  
  text-align: center;
  max-width: 260px;
  width: auto;
  line-height: 1.3;

  border: 4px solid #8dd9ff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);

  opacity: 0;
  transition: 0.25s; 

  pointer-events: none; 
  z-index: 1000;
}

#sohestTooltip.is-visible {
  opacity: 1;
}















/* Scene container */
.scene {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* musling med glimmer */

.ufærdig-musling {
  width: 110px;           
  position: absolute;     
  bottom: -2%;           
  left: 620px;             
  cursor: pointer;        
}

/* Glimmeret */
.glimmer {
  position: fixed;       
  width: 12px;
  height: 12px;
  background: white;       
  border-radius: 50%; 
  
  animation: sparkle 0.8s ease-out forwards;
}

/* Animation der får glimmer til at flyve ud og fade */
@keyframes sparkle {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(0.3);
  }

}

 .tang {
  width: 290px;
  cursor: pointer;
  display: block;
  bottom: 5px;
  left: 265px;
  position: absolute;
  }

 .pink-koral {
  width: 150px;
  cursor: pointer;
  display: block;
  bottom: -30px;
  right: 0px;
  position: absolute;
  }

  .koral-bl {
  width: 120px;
  cursor: pointer;
  display: block;
  bottom: 5px;
  left: 2px;
  position: absolute;
  }


/* Havfruen */
  .havfrue-snakker {
  position: absolute;
  bottom: -170px;
  right: -80px;
  width: 550px;
  z-index: 2; /* foran stenen */
  }

  #rod-sostjerne-1 {
  position: absolute;
  bottom: 120px;
  right: 135px;
  width: 75px;
  height: 75px;
  }

  #rod-sostjerne-2 {
  position: absolute;
  bottom: 90px;
  right: 200px;
  width: 50px;
  height: 50px;
  }


.skattekiste {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
}

.stjerne {
   position: absolute;
  bottom: 12%;
  left: 12%;
  width: 100px;
}

.stjerne2 {
   position: absolute;
  bottom: 15%;
  left: 8%;
  width: 50px;
}





/* boblen  */

.bobbel {
  width: 200px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 300px;
  left: 100px;
}

/* pop animation */
.bobbel.pop {
  animation: pop 0.25s ease-out forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* små "sprøjt" */
.particle {
  position: fixed;
  width: 6px;
  height: 6px;
  background: lightblue;
  border-radius: 50%;
  pointer-events: none;
  animation: burst 0.5s ease-out forwards;
}

@keyframes burst {
  to {
    transform: translate(var(--x), var(--y));
    opacity: 0;
  }
}



.skygger-fisk {
  position: absolute;
  width: 500px;   
  top: 300px;      
  left: 180px;     
  opacity: 0.2; /* gør fisken mere gennemsigtig for at ligne en skygge */
}

.skygger-fisk2 {
  position: absolute;
  width: 500px;   
  bottom: 60px;     
  left: 600px;    
  opacity: 0.2; /* gør fisken mere gennemsigtig for at ligne en skygge */
  
}

.haj {
  position: absolute;
  width: 300px;   
  top: 100px;      
  left: 800px;
  cursor: pointer;
  animation: haj 20s linear infinite;
  left: 100vw;
  z-index: 1;
}

@keyframes haj {
  0% {
    transform: translateX(0); /* Start udenfor højre side */
  }
  100% {
    transform: translateX(calc(-100vw - 300px)); /* Svøm hele vejen ud til venstre */
  }
}

.dory-fisk {
  position: absolute;
  width: 100px;   
  top: 200px;      
  cursor: pointer;
  animation: dory-fisk 16s linear infinite;
  z-index: 1;
}

@keyframes dory-fisk {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(calc(100vw + 300px));
  }
}


.gul-ubaad {
  width: 150px;
  position: absolute;
  bottom: -2%;
  left: 620px;
  cursor: pointer;
}



.sandslot {
  width: 10px;
  cursor: pointer;
  display: block;
  bottom: 150px;
  left: 8px;
  position: absolute;

}







